html {
	box-sizing:			border-box;
	overflow:			visible;
}
*, *:before, *:after {
	box-sizing:			inherit;
}
body{
	background-color:	rgb(25,25,35);
	color:				white;
	font-family:		Foral Pro Light, 'Grenze', 'Pirata One', Verdana, sans-serif;
	margin:				2%;
	font-size:			1.1em;
}
h1, h2, h3, h4, h5, h6{
	text-decoration:	none;
	font-family:		Durwent, Old English Text MT, 'Pirata One', Foral Pro Light, 'Grenze', Georgia, serif;
	color:				rgb(29,52,122);
	margin:				20px 0;
	text-shadow:		2px 1px black;
	font-size:			2em;
}
a, a:visited{
	color:				lightsteelblue;
}
img{
	height:				100%;
	width:				100%;
	object-fit:			contain;
}
.gallery {
	background-color:	black;
	width:				100%;
	height:				35vw;
	padding:			0px;
	margin:				2% 0px 0px;
	overflow:			hidden; /*Avoids showing all of the images momentarily while JS loads */
	vertical-align:		middle;
	text-align:			center;
	display:			flex;
	flex-flow:			row nowrap;
	justify-content:	center;
}
.gallery_nav{
	margin:				20px -2%;
	width:				100vw;
	text-align:			center;
	height:				3.5em;
}
.gallery_nav a, .gallery_nav a:visited{
	text-decoration:	none;
	font-weight:		bold;
	padding:			2px 5px;
	font-size:			3em;
	height:				3em;
	width:				3em;
	border:				1px solid black;
	color:				rgb(29,52,122);
	background:			black;
	border-radius:		50%;
}
.gallery_nav a.left{
	margin:				0px 25vw 0px 0px;
}
.gallery_nav a.right{
	margin:				0px 0px 0px 25vw;
}
.description {
	background-color:	black;
	margin:				1% 0px;
	padding:			0;
	overflow:			hidden; /*Avoids showing all of the images momentarily while JS loads */
	vertical-align:		middle;
}
.description div{
	background-color:	black;
	padding:			1% 2%;
}
.description div h2{
	text-shadow:		1px 2px rgba(29,52,122,0.25);
}
header.primary{
	text-decoration:	none;
	background-color:	black;
	padding:			0px;
	position:			sticky;
	top:				0px;
	z-index:			1000;
	margin:				-2.5% -2% 0% -2%;
	width:				100vw;
	height:				20vh;
	max-height:			150px;
	overflow:			hidden;
}
header.primary img.logo{
	max-height:			100%;
	max-width:			15vw;
	object-fit:			contain;
	float:				left;
	clear:				right;
	position:			absolute;
	left:				0px;
	top:				0px;
}
header.primary img.logo-text{
	max-width:			35vw;
	height:				100%;
	float:				left;
	clear:				right;
	position:			absolute;
	left:				15%;
	top:				0;
	object-fit:			contain;
}
header.primary h1{
	height:				100%;
	width:				auto;
	text-indent:		100%;
	white-space:		nowrap;
	overflow:			hidden;
	font-size:			3.5em;
}
header.primary nav{
	position:			absolute;
	right:				0;
	top:				0;
	float:				right;
	clear:				left;
	width:				50vw;
	height:				100%;
	text-align:			center;
	vertical-align:		middle;
}
header.primary nav ul li a, header.primary nav ul li a:visited{
	color:				white;
	text-decoration:	none;
	height:				50%;
	max-width:			10vw;
	text-align:			center;
	vertical-align:		middle;
	background-color:	rgb(29,52,122);
	padding:			1% 2%;
	border-radius:		2.5vw;
	font-size:			3vw;
	transition:			.25s;
	font-weight:		bold;
}
header.primary nav ul{
	display:			flex;
	flex-flow:			row nowrap;
	justify-content:	space-between;
	vertical-align:		middle;
	margin:				0;
	padding:			0px 5vw 0px 5vw;
}
header.primary nav ul li a.current, header.primary nav ul li a:hover{
	background-color:	white;
	color:				rgb(29,52,122);
}
header.primary nav ul li{
	list-style-type:	none;
	margin:				0;
	padding:			5vh 0;
	vertical-align:		middle;
}
.nice_box{
	background-color:	black;
	margin:				2% 0px;
	padding:			1em;
	height:				auto;
	width:				auto;
	overflow:			auto;
}
img.portrait{
	background-color:	black;
	float:				right;
	clear:				right;
	margin:				20px 2%;
	width:				15%;
	height:				auto;
}
footer{
	text-decoration:	none;
	background-color:	rgb(29,52,122);
	padding:			0px;
	position:			sticky;
	bottom:				0px;
	z-index:			500;
	margin:				0% -2% -2%;
	overflow:			hidden;
	text-align:			center;
	display:			flex;
	flex-flow:			row nowrap;
	justify-content:	space-around;
	font-size:			1em;
	max-height:			5vh;
}
footer a, footer a:visited{
	color:				white;
}
